<nav class="navbar navbar-light bg-light navbar-expand-md px-0">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title |safe }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        {%- assign colls = site.collections | where: "nav_include","true" -%}
        {%- for c in colls -%}
        {% comment %}TODO: better assigns{% endcomment %}
        {%- assign url_part = "/" | append: c.label -%}
        {%- assign url_part = url_part | append: "/" -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.url contains url_part %}active{% endif %}" 
            href="#" id="navbar-dropdown-{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ c.label | capitalize }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbar-dropdown-{{ forloop.index }}">
            {%- for p in site[c.label] -%}
            <a class="dropdown-item {% if p.url == page.url %}active{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}{% if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
            {%- if p.path contains 'index' %}<div class="dropdown-divider"></div>{%endif%}
            {%- endfor -%}
          </div>
        </li>
        {%- endfor -%}
 
        {%- assign nav_pages = site.pages | where: "nav_include","true" | sort: "nav_order" -%}
        {%- for p in nav_pages -%}
          <li class="nav-item"><a
            class="nav-link {% if p.url == page.url %}active{% endif %}" 
            href="{{ p.url | relative_url }}">{{ p.title }}{% if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {%- endfor -%}    
      </ul>
    </div>
  </nav>
